* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0,0,0,0.8), rgb(0,0,0,0.8)), url("image/notebook-1757220_1280.jpg");
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.menu-bar {
    background-color: #5b71b5;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
}

.menu-bar ul li {
    margin: 25px 20px;
    padding: 10px;
}   

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
}

.active, .navbar > ul > li:hover, .entry > ul > li:hover {
    background-color: #d4c995;
    border-radius: 10px;
}

.menu-bar .fa-solid {
    margin-right: 9px;

}

.menu-bar .navbar {
    display: inline-flex;
    margin: 0 100px;
}

.menu-bar .entry {
    display: inline-flex;
    margin: 0 10px;
}

.content h1 {
    color: antiquewhite;
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}

.content p {
    color: aliceblue;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}
